<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title></title>

</head>
<body>
    @*The entire header layout division*@
    <div class="header">
        <img src="~/Content/Images/logo.png" id="logo" name="headerLogo" />

        @*Search bar for the header*@
        <form id="searchBar">

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Category
                    <span class="caret"></span>
                </button>
                @*the options for the dropdown menu of the search bar*@
                <ul class="dropdown-menu">
                    <li><a href="#">Electronic</a></li>
                    <li><a href="#">House</a></li>
                    <li><a href="#">Something</a></li>
                </ul>
            </div>

            @*the search text input*@
            <input type="text" name="searchInput" id="searchInput" placeholder="Search..." />
            <button id="search-btn"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <input type="image" src="~/Content/Images/dp.png" alt="profilePicture" id="profilePic" /> @*Temp Profile Picture*@
    </div>

    @*the navigation tab*@
    <div class="menuTab">
        <nav id="menu">
            <ul>
                <li><a>Product Summary</a></li>
                <li><a>Product Details</a></li>
                <li><a>Product Documentation</a></li>
                <li><a>Contact</a></li>
            </ul>
        </nav>
    </div>
    @RenderBody()

</body>
@*<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>*@
</html>
