@using JooleCore;
@model dynamic
@{
    ViewBag.Title = "ProductDetails";
}

<head>
    <link href="~/Content/Product styles/productDetails.css" rel="stylesheet" />
</head>
<body>

    @*the page is seperated into 2 main columns left and right*@
    <div class="body">
        <h1 id="pageTitle">Product Summary</h1>

       
        <div class="left">
            @*The description table*@
            <div class="desc">
                <table id="Table">
                    <thead>
                        <tr>
                            <th colspan="2">DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Manufacturer</th>
                            <td>@Model.ProductFanDetail.Manufacturer </td>
                        </tr>
                        <tr>
                            <th>Series</th>
                            <td>Haiku H</td>
                        </tr>
                        <tr>
                            <th>Model</th>
                            <td>@Model.FanDetail.ModelNumber</td>
                        </tr>
                    </tbody>
                </table>
                @*Type table*@
                <table id="Table">
                    <thead>
                        <tr>
                            <th colspan="2">TYPE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Use Type</th>
                            <td>Commercial</td>
                        </tr>
                        <tr>
                            <th>Application</th>
                            <td>@Model.ProductFanDetail.Application</td>
                        </tr>
                        <tr>
                            <th>Mounting Location</th>
                            <td>Roof</td>
                        </tr>
                        <tr>
                            <th>Acessories</th>
                            <td>@Model.ProductFanDetail.Accessories</td>
                        </tr>
                        <tr>
                            <th>Model Year</th>
                            <td>@Model.ProductFanDetail.ModelYear</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="type">

            </div>
        </div>
        <div class="right">
            @*Tech Specification table*@
            <div class="techspec">
                <table id="Table">
                    <thead>
                        <tr>
                            <th colspan="2">TECHNICAL SPECIFICATIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Air Flow(CFM)</th>
                            <td colspan="4">@Model.FanDetail.Airflow</td>
                        </tr>
                        <tr>
                            <th>Power (W)</th>
                            <th class="min">Min</th>
                            <td>@Model.FanDetail.PowerMin</td>
                            <th class="max">Max</th>
                            <td>@Model.FanDetail.PowerMax</td>
                        </tr>
                        <tr>
                            <th>Operating Voltage (VAC)</th>
                            <th>Min</th>
                            <td>@Model.FanDetail.VoltageMin</td>
                            <th>Max</th>
                            <td>@Model.FanDetail.VoltageMax</td>
                        </tr>
                        <tr>
                            <th>Fan Speed (RPM)</th>
                            <th>Min</th>
                            <td>@Model.FanDetail.SpeedMin</td>
                            <th>Max</th>
                            <td>@Model.FanDetail.SpeedMax</td>
                        </tr>
                        <tr>
                            <th>Number of fan speeds</th>
                            <td colspan="4">@Model.FanDetail.NumberOfSpeeds</td>
                        </tr>
                        <tr>
                            <th>Sound at max speed (dBA)</th>
                            <td colspan="4">@Model.FanDetail.SpeedSound</td>
                        </tr>
                        <tr>
                            <th>Fan sweep diameter (in)</th>
                            <td colspan="4">@Model.FanDetail.SweepDiameter</td>
                        </tr>
                        <tr>
                            <th>Height (in)</th>
                            <th>Min</th>
                            <td>@Model.FanDetail.HeightMin</td>
                            <th>Max</th>
                            <td>@Model.FanDetail.HeightMax</td>
                        </tr>
                        <tr>
                            <th>Weight (lbs)</th>
                            <td colspan="4">13</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>